nav.navbar.navbar-default {
  margin-bottom: 0;

}
.bg-light {
  background-color: #2c2c2c!important;
}


.navbar-light .navbar-brand {
  color: rgba(202, 202, 202, 0.938);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(132, 132, 255, 0.89);
}

.navbar-light .navbar-nav .nav-link {
  color:white;
}